---
layout: default
---


<div class="page">

<div class="sub-header" style="background-position: 50% -8px;">
    <div class="container">
        
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>{{ page.title }}</h1>
                <hr>
                <h4>The 9-hole “Fashion” course at the Fashion Golf &amp; Country Club features 3,164 yards of golf from the longest tees for a par of 36.</h4>
            </div>
        </div>
    </div>
</div>

    {{ content }}

    
</div>